<nav class='navbar navbar-expand navbar-light bg-light'>
    <a class='navbar-brand'>{{pageTitle}}</a>
  </nav>
<div>
    vvvvvv Input Password Below vvvvvv
</div>
<div class="form-group">
    <input id="password" name="" class="form-control"
    required minlength="8" pattern="[a-zA-Z0-9]{0,}"
    [(ngModel)]="password.name" #password="ngModel"
    style="margin-left: 20px; width: 215px;">
    <div *ngIf="password.invalid && (password.dirty || password.touched)"
         class="alert alert-danger">

         <div *ngIf="password.errors.required">
            Password is required!
         </div>
         <div *ngIf="password.errors.minlength">
            Password must be at least 8 characters!
         </div>
         <div *ngIf="password.errors.pattern">
            Password can not have special characters!
         </div>
      </div>

      <button class="button" [disabled]="password.invalid"
      (click)="enterPassword(password.valid)"
      style="margin-left: 45px">
        Enter Password.
      </button>

      <div [hidden]="!hasEnteredValidPassword">
        Thank you for inputing your password!
      </div>
</div>

<div>
  <a class="button" routerLink="/buttons">Click here for more buttons!</a>
</div>
